<!--
    Donation receipt templates for CiviCRM donationreceipts extension.

    Created in 2011 by FoeBuD e.V. in Germany, based on the official forms
    published by the tax administration; reworked in 2012 by Software fuer
    Engagierte e.V. in Germany.

    To the extent possible under law, FoeBuD e.V. and Software fuer Engagierte
    e.V. have dedicated all copyright and related and neighboring rights to
    these template files to the public domain worldwide. These templates are
    distributed without any warranty.

    You should have received a copy of the CC0 Public Domain Dedication along
    with these files. If not, see
    <http://creativecommons.org/publicdomain/zero/1.0/>.
-->
<style>
{literal}
body {
  font-family: Helvetica,sans-serif; 
  font-size:   9pt;
}

.bottom {
  position: absolute;
  bottom: 0;
}

table.grid {
  width: 100%;
  margin-top: 2em;
  border-collapse: collapse;
  border: thin solid black;  
}

table.grid th,td {
  padding: 2pt;
  border: thin solid black;
}

span.kursiv {
  font-style: italic;
  font-weight: normal;
}

.small {
  font-size: 6pt; 
}

.large {
  font-size: 12pt;
}

.dick {
  font-size: 13pt;
  font-style: bold;
  font-weight: bold;
}

.mittel {
  font-size: 10pt;
}

{/literal}
</style>

<div class='dick'><b>Sammelbestätigung über Geldzuwendungen / Mitgliedsbeitrag {$daterange}</b></div>
<br/>
<br/>
<div class='mittel'>im Sinne des § 10b des Einkommensteuergesetzes an eine der in § 5 Abs. 1 Nr. 9 des Körperschaftssteuergesetzes<br/>
bezeichneten Körperschaften, Personenvereinigungen oder Vermögensmassen.
</div>
<br/><br/><br/><br/>
<table width="100%" border="0" cellspacing="0" cellpadding="5">
<tr>
<td width="2%">&nbsp;</td>
<td width="53%">
<span class='small'>Name und Anschrift des Zuwendenden:</span><br/><br/>
<div class='large'>{$donor.name}<br/>{$donor.street_address}<br/>{$donor.postal_code} {$donor.city}</div>
</td>
<td width="45%">
<div style="border: thin solid black; padding: 1em;">
<span class='small'> Aussteller: (Bezeichnung und Anschrift der steuerbegünstigten Einrichtung)</span><br/><br/>
<div class='large'>
...Name...<br/>
...Straße Hausnr...<br/>
...PLZ Ort...<br/>
</div>
<br/>
</div>
</td>
</tr>
</table>
<br/>

<br/>
<br/>
<br/>
<br/>

<table class='grid'>
<tr align="center">
<td width="33%">
<span class='small'> Betrag der Zuwendung - in Ziffern -</span><br/>
<b>{$total} Euro</b>
<br/>
</td>
<td width="34%">
<span class='small'> - in Buchstaben -</span><br/>
<b>{$totaltext} Euro</b>
<br/>
</td>
<td width="33%">
<span class='small'> Tag der Zuwendung</span><br/>
<b>Siehe Rückseite</b>
<br/>
</td>
</tr>
</table>

<br/><br/><br/>

Es handelt sich um einen Verzicht auf Erstattung von Aufwendungen 
<span style='color: white'>.....</span>
Ja <img alt='box' src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAYAQMAAADJbu9PAAAABlBMVEUAAAD///+l2Z/dAAAAB3RJTUUH2wIWDwsIXewLqwAAABZ0RVh0U29mdHdhcmUAWFBhaW50IDIuOC4xM19dLbQAAAAVSURBVAiZY/j/nwErAoL6f8QiBgYArWokx6kTU0UAAAAASUVORK5CYII=' border='0'/>
<span style='color: white'>.....</span>
Nein <img alt='box mit kreuz' src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAYAQMAAADJbu9PAAAABlBMVEUAAAD///+l2Z/dAAAAB3RJTUUH2wIWDws0coN3LAAAABZ0RVh0U29mdHdhcmUAWFBhaW50IDIuOC4xM19dLbQAAAAuSURBVAiZY/j/nwErAoL6fyCU/owh+RhDYR9DhRxDjR0IARlALlAQKAVRw8AAAC8+H2+gSY85AAAAAElFTkSuQmCC' border='0'/>

<br/><br/>

<table border="0" width="100%">
<tr valign="top">
<td><img alt='box mit kreuz' src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAYAQMAAADJbu9PAAAABlBMVEUAAAD///+l2Z/dAAAAB3RJTUUH2wIWDws0coN3LAAAABZ0RVh0U29mdHdhcmUAWFBhaW50IDIuOC4xM19dLbQAAAAuSURBVAiZY/j/nwErAoL6fyCU/owh+RhDYR9DhRxDjR0IARlALlAQKAVRw8AAAC8+H2+gSY85AAAAAElFTkSuQmCC' border='0'/></td>
<td>Wir sind wegen ...Begründung...
nach dem letzten uns zugegangenen Freistellungsbescheid 
bzw. nach der Anlage zum Körperschaftssteuerbescheid
des Finanzamtes ...Ort...
Steuernummer ...Nummer...
vom ...Datum...
nach §5 Abs. 1 Nr. 9 des Körperschaftssteuer-<br>
gesetzes von der Körperschaft und nach §3 Nr. 6 des Gewerbesteuergesetzes von der Gewerbesteuer befreit.
</td>
</tr>
</table>

<br/><br/>

<div style='border: thin solid black; padding: 1em; '>

Es wird bestätigt, dass die Zuwendung nur zur Förderung (Angabe des begünstigten Zwecks / der begünstigten Zwecke)<br/>
nämlich: ...Zweck...
verwendet wird.
<br/>
Es wird bestätigt, dass über die in der Gesamtsumme enthaltenen Zuwendungen keine weiteren 
Bestätigungen, weder formelle Zuwendungsbestätigungen noch Beitragsquittungen o.ä., 
ausgestellt wurden und werden.
<br/>
</div>

<div class='bottom'>

...Ort..., den {$today}
<br/>
<br/>
<div style='width: 100%; border: thin solid black'></div>

<p align="right" class="small">
(Ort, Datum und Unterschrift des Zuwendungsempfängers)
</p>

<div class='small'> 
<b>Hinweis</b>
<br/>
Wer vorsätzlich oder grob fahrlässig eine unrichtige Zuwendungsbestätigung
erstellt oder wer veranlasst, dass Zuwendungen nicht zu den in der
Zuwendungsbestätigung angegebenen<br/>
steuerbegünstigten Zwecken verwendet
werden, haftet für die Steuer, die dem Fiskus durch einen etwaigen
Abzug der Zuwendungen beim Zuwendenden entgeht <br/>
(§ 10b Abs. 4 EStG, § 9 Abs. 3 KStG, § 9 Nr. 5 GewStG).
<br/><br/>
Diese Bestätigung wird nicht als Nachweis für die steuerliche
Berücksichtigung der Zuwendung anerkannt, wenn das Datum des Freistellungsbescheides
länger als 5 Jahre bzw. das Datum der<br/>
vorläufigen Bescheinigung länger als 3 Jahre seit Ausstellung der Bestätigung zurückliegt 
(BMF vom 15.12.1994 - BStBl I S. 884).
<br/><br/>
Unseren aktuellen Freistellungsbescheid finden Sie unter ...Url...
</div>

</div>    <!-- bottom -->

<div style='page-break-before: always'>
<br/><br/>
Anlage zur Sammelbestätigung vom {$today}
</div>

<table class='grid'>
  <tr><th>Datum</th><th>Art der Zuwendung</th><th>Betrag der Zuwendung - in Ziffern -</th><th>- in Buchstaben -</th></tr>
  {foreach from=$items item=item}
    <tr align='right'><td>{$item.date} </td><td>{$item.art}</td><td>{$item.amount} Euro  </td><td>{$item.amounttext} Euro </td></tr>
  {/foreach}
  <tr align='right'><td colspan='2'></td><td><b>Summe: {$total} Euro </td><td><b>{$totaltext} Euro </b></td></tr>
</table>
